In [1]:
import pandas as pd

In [2]:
pd.read_csv("data_pandas.csv")

   Unnamed: 0 culori  marimi  greutati      zile  greutate_standard  diferenta
0           0   rosu      10       100      luni                100          0
1           1  negru      30       130     marti                100        -30
2           2  verde     100       120  miercuri                100        -20

In [4]:
df = pd.read_csv("data_pandas.csv", index_col=0)
df

  culori  marimi  greutati      zile  greutate_standard  diferenta
0   rosu      10       100      luni                100          0
1  negru      30       130     marti                100        -30
2  verde     100       120  miercuri                100        -20

In [5]:
df.to_excel("data_pandas.xlsx")