In [1]:
import pandas as pd

In [5]:
df = pd.read_csv("recipe.csv", index_col=0)
df.head()

,name,prepTimeMinutes,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
0,Classic Margherita Pizza,20,15,4,Easy,Italian,300,4.6,98
1,Vegetarian Stir-Fry,15,20,3,Medium,Asian,250,4.7,26
2,Chocolate Chip Cookies,15,10,24,Easy,American,150,4.9,13
3,Chicken Alfredo Pasta,15,20,4,Medium,Italian,500,4.9,82
4,Mango Salsa Chicken,15,25,3,Easy,Mexican,380,4.9,63

In [7]:
df["caloriesPerServing"].sum()

np.int64(14760)

In [8]:
df["caloriesPerServing"].max()

np.int64(550)

In [9]:
df[ df["caloriesPerServing"] ==  df["caloriesPerServing"].max()]

,name,prepTimeMinutes,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
10,Chicken Biryani,30,45,6,Medium,Pakistani,550,5.0,32
17,Korean Bibimbap,30,20,2,Medium,Korean,550,4.9,56

In [10]:
df[ df["caloriesPerServing"] ==  df["caloriesPerServing"].min()]

,name,prepTimeMinutes,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
42,Mango Avocado Salsa,10,0,4,Easy,Mexican,90,4.1,78

In [11]:
max_calories_df = df[ df["caloriesPerServing"] ==  df["caloriesPerServing"].max()] 
max_calories_df[["name", "caloriesPerServing"]]

               name  caloriesPerServing
10  Chicken Biryani                 550
17  Korean Bibimbap                 550

In [14]:
df[df["difficulty"] != "Easy"].count()

name                  20
prepTimeMinutes       20
cookTimeMinutes       20
servings              20
difficulty            20
cuisine               20
caloriesPerServing    20
rating                20
reviewCount           20
dtype: int64

In [15]:
df.describe()

,prepTimeMinutes,cookTimeMinutes,servings,caloriesPerServing,rating,reviewCount
count,50.000000,50.000000,50.000000,50.000000,50.000000,50.000000
mean,20.100000,16.240000,4.320000,295.200000,4.550000,56.860000
std,8.481071,12.418814,3.254134,116.885431,0.250917,30.450368
min,5.000000,0.000000,1.000000,90.000000,4.100000,0.000000
25%,15.000000,10.000000,3.000000,205.000000,4.300000,30.500000
50%,20.000000,15.000000,4.000000,280.000000,4.600000,58.500000
75%,25.000000,23.750000,4.000000,380.000000,4.700000,83.750000
max,45.000000,45.000000,24.000000,550.000000,5.000000,98.000000

In [17]:
df.groupby("servings").agg(['count'])

,name,prepTimeMinutes,cookTimeMinutes,difficulty,cuisine,caloriesPerServing,rating,reviewCount
,count,count,count,count,count,count,count,count
servings,,,,,,,,
1,3,3,3,3,3,3,3,3
2,6,6,6,6,6,6,6,6
3,8,8,8,8,8,8,8,8
4,21,21,21,21,21,21,21,21
5,1,1,1,1,1,1,1,1
6,8,8,8,8,8,8,8,8
8,2,2,2,2,2,2,2,2
24,1,1,1,1,1,1,1,1

In [18]:
df[ df["servings"] == 24 ]

,name,prepTimeMinutes,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
2,Chocolate Chip Cookies,15,10,24,Easy,American,150,4.9,13

In [19]:
df.rename(columns={"prepTimeMinutes":"prepTimeMin"})

,name,prepTimeMin,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
0,Classic Margherita Pizza,20,15,4,Easy,Italian,300,4.6,98
1,Vegetarian Stir-Fry,15,20,3,Medium,Asian,250,4.7,26
2,Chocolate Chip Cookies,15,10,24,Easy,American,150,4.9,13
3,Chicken Alfredo Pasta,15,20,4,Medium,Italian,500,4.9,82
4,Mango Salsa Chicken,15,25,3,Easy,Mexican,380,4.9,63
5,Quinoa Salad with Avocado,20,15,4,Easy,Mediterranean,280,4.4,59
6,Tomato Basil Bruschetta,15,10,6,Easy,Italian,120,4.7,95
7,Beef and Broccoli Stir-Fry,20,15,4,Medium,Asian,380,4.7,58
8,Caprese Salad,10,0,2,Easy,Italian,200,4.6,82
9,Shrimp Scampi Pasta,15,20,3,Medium,Italian,400,4.3,5
10,Chicken Biryani,30,45,6,Medium,Pakistani,550,5.0,32
11,Chicken Karahi,20,30,4,Easy,Pakistani,420,4.8,68
12,Aloo Keema,25,35,5,Medium,Pakistani,380,4.6,53
13,Chapli Kebabs,30,20,4,Medium,Pakistani,320,4.7,98
14,Saag (Spinach) with Makki di Roti,40,30,3,Medium,Pakistani,280,4.3,86
15,Japanese Ramen Soup,20,25,2,Medium,Japanese,480,4.9,38
16,Moroccan Chickpea Tagine,15,30,4,Easy,Moroccan,320,4.5,50
17,Korean Bibimbap,30,20,2,Medium,Korean,550,4.9,56
18,Greek Moussaka,45,45,6,Medium,Greek,420,4.3,26
19,Butter Chicken (Murgh Makhani),30,25,4,Medium,Pakistani,480,4.5,44
20,Thai Green Curry,20,30,4,Medium,Thai,480,4.2,18
21,Mango Lassi,10,0,2,Easy,Indian,180,4.7,15
22,Italian Tiramisu,30,0,6,Medium,Italian,350,4.6,0
23,Turkish Kebabs,25,15,4,Easy,Turkish,280,4.6,78
24,Blueberry Banana Smoothie,10,0,1,Easy,Smoothie,220,4.8,30
25,Mexican Street Corn (Elote),15,15,4,Easy,Mexican,180,4.6,2
26,Russian Borscht,30,40,6,Medium,Russian,220,4.3,39
27,South Indian Masala Dosa,40,20,4,Medium,Indian,320,4.4,96
28,Lebanese Falafel Wrap,15,10,2,Easy,Lebanese,400,4.7,84
29,Brazilian Caipirinha,5,0,1,Easy,Brazilian,150,4.4,55
30,Spanish Patatas Bravas,20,30,4,Easy,Spanish,240,4.5,21
31,Vietnamese Fresh Spring Rolls,15,10,4,Easy,Vietnamese,180,4.2,97
32,Mediterranean Quinoa Salad,20,15,6,Easy,Mediterranean,220,4.8,83
33,Japanese Matcha Green Tea Ice Cream,30,15,4,Medium,Japanese,280,4.2,87
34,Brazilian Chocolate Brigadeiros,20,10,8,Easy,Brazilian,120,4.2,65
35,Mexican Chicken Enchiladas,25,20,4,Medium,Mexican,380,4.1,67
36,Thai Coconut Shrimp Curry,20,15,3,Medium,Thai,420,4.9,85
37,Greek Spanakopita,30,40,8,Medium,Greek,280,4.6,19
38,Moroccan Couscous Salad,15,10,6,Easy,Moroccan,260,4.1,19
39,Classic Mojito,10,0,1,Easy,Cocktail,150,4.7,89
40,Caprese Bruschetta,15,5,6,Easy,Italian,150,4.2,38
41,Teriyaki Chicken Stir-Fry,15,10,4,Easy,Japanese,320,4.6,95
42,Mango Avocado Salsa,10,0,4,Easy,Mexican,90,4.1,78
43,Shrimp and Asparagus Stir-Fry,15,10,3,Easy,Asian,250,4.7,13
44,Italian Margherita Pizza,20,12,4,Easy,Italian,280,4.7,98
45,Pesto Pasta with Cherry Tomatoes,15,10,3,Easy,Italian,320,4.3,54
46,Hawaiian Chicken Skewers,20,15,4,Easy,Hawaiian,280,4.7,77
47,Cucumber Avocado Rolls,20,0,3,Easy,Japanese,180,4.3,94
48,Mediterranean Chickpea Salad,15,0,4,Easy,Mediterranean,220,4.7,70
49,Pineapple Coconut Smoothie,10,0,2,Easy,Smoothie,200,4.4,45

In [21]:
df.head(2)

,name,prepTimeMinutes,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
0,Classic Margherita Pizza,20,15,4,Easy,Italian,300,4.6,98
1,Vegetarian Stir-Fry,15,20,3,Medium,Asian,250,4.7,26

In [23]:
df.rename(columns={"prepTimeMinutes":"prepTimeMin"}, inplace=True)

In [24]:
df.head(2)

,name,prepTimeMin,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
0,Classic Margherita Pizza,20,15,4,Easy,Italian,300,4.6,98
1,Vegetarian Stir-Fry,15,20,3,Medium,Asian,250,4.7,26

In [28]:
df = df.sort_values("caloriesPerServing")

df.head(2)

,name,prepTimeMin,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
42,Mango Avocado Salsa,10,0,4,Easy,Mexican,90,4.1,78
6,Tomato Basil Bruschetta,15,10,6,Easy,Italian,120,4.7,95

In [29]:
df.head(2)

,name,prepTimeMin,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
42,Mango Avocado Salsa,10,0,4,Easy,Mexican,90,4.1,78
6,Tomato Basil Bruschetta,15,10,6,Easy,Italian,120,4.7,95

In [32]:
df = df.reset_index(drop=True)

In [35]:
df.sort_values(["caloriesPerServing", "name"], ascending=(True, True), inplace=True)

In [36]:
df.head()

,name,prepTimeMin,cookTimeMinutes,servings,difficulty,cuisine,caloriesPerServing,rating,reviewCount
0,Mango Avocado Salsa,10,0,4,Easy,Mexican,90,4.1,78
2,Brazilian Chocolate Brigadeiros,20,10,8,Easy,Brazilian,120,4.2,65
1,Tomato Basil Bruschetta,15,10,6,Easy,Italian,120,4.7,95
6,Brazilian Caipirinha,5,0,1,Easy,Brazilian,150,4.4,55
4,Caprese Bruschetta,15,5,6,Easy,Italian,150,4.2,38